* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: #1E0606;
}

a:hover {
    opacity: 50%;
}

a:active {
    opacity: 20%;
}

img {
    display: block;
    max-width: 100%;
}

h3 {
    margin: 0;
}

.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 110px;
}

.hidden {
    overflow: hidden;
    font-size: 0;
}

.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 161px;
    text-align: center;
    padding: 9px;
    border: none;
    text-transform: uppercase;
    display: block;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
   background: #C1C1C1;
}

/* HEADER */

.header {
    padding: 40px 0 60px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.header-logo {
    max-width: 100px;
}

.header-nav {
    margin: 0 auto 0 60px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item {
    margin-right: 20px;
}

.header-search {
    margin-right: 23px;
}

/* BLOG */

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin: 0;
    margin-bottom: 15px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding: 0; 
}

.pointer-home {
    font-style: italic;
}

.pointer-home::after {
    content: '>'; 
    margin-left: 20px; 
    margin-right: 20px; 
    color: #7f7f7f; 
}

.pointer-blog {
    opacity: 50%;
    font-style: italic;
}

.arrow {
    margin: 0 20px;
    max-width: 8px;
    max-height: 12px;
    width: 100%;
    height: 100%;
}

.blog-articles  {
    max-width: 1180px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    align-content: flex-end;
}

.blog-group {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 380px;
    max-height: 497px;
}

.image {
    max-width: 380px;
    max-height: 220px;
    height: 100%;
    margin-right: 0;
}

.date {
    margin-top: 20px;
    margin-bottom: 7px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
}

.name:hover {
    text-decoration-line: underline;
}

.text {
    font-size: 16px;
    max-width: 680px;
    width: 100%;
    max-height: 44px;
    height: 100%;
    color: #1E0606;
    margin-bottom: 15px;
    padding: 0;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.arrow {
    max-width: 13px;
    max-height: 26px;
    box-sizing: border-box;
}

.pages {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.page {
    margin-right: 64px;
    max-width: 10px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    color: #1E0606;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    size: 16px;
    text-transform: uppercase;
}

.special {
    color: #C29974;
}

/* FOOTER */

footer {
    background-color:#434343;
    padding: 100px 110px;
    margin-top: 147px;
}

.footer-first {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-right: 25px;
    margin-left: -0px;
}

.link {
    margin-bottom: 15px;
}

.footer-title {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    color: #AAAAAA;
    margin: 0;
}

.line {
    margin-top: 23px;
    margin-bottom: 28px;
    max-width: 380px;
    width: 100%;
}

.footer-search {
    display: flex;
    max-width: 380px;
    width: 100%;
    max-height: 40px;
    height: 100%;
}

.footer-searching {
    background: #666666;
    max-width: 300px;
    width: 100%;
    padding: 9px 0 9px 15px;
}

.footer-searching:hover {
    border: 1px solid #FFFDFD;
}

.footer-searching::placeholder {
    color: #EBEBEB;
    max-width: 41px;
    width: 100%;
    max-height: 22px;
    width: 100%; 
}

.social {
    display: flex;
    margin-top: 25px;
}

.footer-social {
    margin-right: 15px;
}

.footer-second {
    justify-content: space-between;
    display: flex;
}

.line-second {
    margin-top: 28px;
    margin-bottom: 23px;
}

.footer-link,
.footer-company_rating {
    display: flex;
    align-items: center;
    padding: 0;
    color: #FFFFFF;
}

.rating {
    display: inline-flex;
    flex-direction: row-reverse;
}


.star {
    color: #FFFFFF;
    margin-right: 3px;
    cursor: pointer;
}

.footer-company_rating {
    margin-right: 25px;
}

.star:hover,
.star:hover ~ .star {
    color: #836E5B;
}

.dl {
    left: -75px;
    position: relative;
    color: #A2A2A2;
}

.dl:hover {
    text-decoration-line: underline;
    color: #FFFFFF;
}