.picture:hover::before {
    content: 'Learn more';
    -webkit-text-align: center;
        -moz-text-align: center;    
            text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    display: block;
    font-size: 26px;
    line-height: 29px;  
    max-width: 380px;
    max-height: 385px;
    width: 100%;
    height: 100%;
    padding: 73px;  
    position: absolute;
    opacity: 90%;
    background: #E5EAF8;
    max-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    opacity: 90%;
    margin: 70px;
}

.picture:active::before {
    content: 'Learn more';
    -webkit-text-align: center;
        -moz-text-align: center;    
            text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    display: block;
    font-size: 26px;
    line-height: 29px;  
    max-width: 380px;
    max-height: 385px;
    width: 100%;
    height: 100%;
    padding: 73px;  
    position: absolute;
    opacity: 90%;
    background: #E5EAF8;
    max-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    opacity: 0.67;
    margin: 70px;
}

h3 {
    margin: 0;
}

.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 161px;
    -webkit-text-align: center;
        -moz-text-align: center;    
            text-align: center;
    padding: 9px;
    border: none;
    text-transform: uppercase;
    display: block;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
   background: #C1C1C1;
}


/* TOYS */

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin: 0;
    margin-bottom: 15px;
}

.breadcrumbs {
    display: flex;
    -webkit-align-items: center;
        -moz-align-items: center;   
            align-items: center;
    margin-bottom: 50px;
    padding: 0; 
}

.pointer-home {
    font-style: italic;
}

.pointer-home::after {
    content: '>'; 
    margin-left: 20px; 
    margin-right: 20px; 
    color: #7f7f7f; 
}

.pointer-blog {
    opacity: 50%;
    font-style: italic;
}

.sidebar {
    background-color:  rgba(125, 151, 218, 0.2);
    -webkit-display: flex;
        -moz-display: flex;    
            display: flex;
    -webkit-align-items: center;
        -moz-align-items: center;   
            align-items: center;
}

.cost {
    margin: 42px 94px 123px 110px;
}

#start {
    background: #C29974;
}

.checkbox {
    list-style-type: none;
    padding: 0;
}

.check {
    -webkit-display: none;
        -moz-display: none;    
            display: none;
}

.fake {
    -webkit-display: inline-block;
        -moz-display: inline-block;    
            display: inline-block;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    position: relative;
}

.fake::before  {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    -webkit-display: block;
        -moz-display: block;    
            display: block;
    width: 15px;
    height: 15px;
    background-image: url("../images/check-mark.png");
    opacity: 0;
}

.check:checked + .fake::before {
    opacity: 1;
    background-color: #FFFFFF;
}

.radios {
    -webkit-display: none;
        -moz-display: none;    
            display: none;
}

.fake-radio {
    -webkit-display: inline-block;
        -moz-display: inline-block;    
            display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #C29974;
    border-radius: 50%;
    position: relative;
}

.fake-radio::before {
    content: "";
    position: absolute;
    -webkit-display: block;
        -moz-display: block;    
            display: block;
    width: 13px;
    height: 13px;
    top: 15%;
    left: 10%;
    background-color: #C29974;
    opacity: 0;
    border-radius: 50%;
}

.radios:checked + .fake-radio::before {
    opacity: 1;
}

.delivery {
    margin-left: 130px;
    position: relative;
    top: -20px;
}

.radio {
    list-style-type: none;
    padding: 0;
}

.amount {
    margin-left: 70px;
    margin-right: 60px;
    position: relative;
    top: -20px;
}

.prices {
    list-style-type: none;
    -webkit-display: flex;
        -moz-display: flex;    
            display: flex;
    padding: 0;
}

.range {
    width: 80px;
    height: 35px;
    padding: 0;
    background: #FFFFFF;
    border: none;
}

.range:hover {
    background: #EDDEEB;
    border: none;
}

.checked {
    background: #F3D0DB;
}

.apply {
    max-width: 95px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    position: relative;
}

/* PRODUCTS */

.row {
    padding: 0;
    list-style-type: none;
}

.row-picture {
    -webkit-display: inline-block;
        -moz-display: inline-block;    
            display: inline-block;
}

.text {
    -webkit-text-align: center;
        -moz-text-align: center;  
            text-align: center;
    font-size: 14px;
    line-height: 19px;
    -webkit-text-align: center;
        -moz-text-align: center;  
            text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    color: #1E0606;
    font-weight: normal;
}

.rate {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    -webkit-text-align: center;
        -moz-text-align: center;  
            text-align: center;
    color: #1E0606;
}

.pagination {
    -webkit-display: flex;
        -moz-display: flex;    
            display: flex;
    justify-content: space-between;
}

.pages {
    -webkit-display: flex;
        -moz-display: flex;    
            display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.arrow {
    margin-left: 113px;
    margin-right: 113px;
    max-width: 8px;
    max-height: 12px;
    width: 100%;
    height: 100%;
}

.page {
    margin-right: 64px;
    max-width: 10px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    color: #1E0606;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    size: 16px;
    text-transform: uppercase;
}

.special {
    color: #C29974;
}