* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: #1E0606;
}

a:hover {
    opacity: 50%;
}

a:active {
    opacity: 20%;
}

img {
    display: block;
    max-width: 100%;
}

h3 {
    margin: 0;
}
.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 110px;
}

.hidden {
    overflow: hidden;
    font-size: 0;
}

.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 161px;
    text-align: center;
    padding: 9px;
    border: none;
    text-transform: uppercase;
    display: block;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
   background: #C1C1C1;
}

/* HEADER */
.header {
    padding: 40px 0 60px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.header-logo {
    max-width: 100px;
}

.header-nav {
    margin: 0 auto 0 60px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item {
    margin-right: 20px;

}

.header-search {
    margin-right: 23px;
}


/* CONTACT US */

.banner {
    margin-left: 110px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin: 0;
    margin-bottom: 15px;
}

.pointers {
    display: flex;
    align-items: center;
}

.pointer-home {
    font-size: 20px;
    line-height: 25px;
    font-style: italic;
    font-family: 'Crimson Text', serif;
    color: #1E0606;
}

.arrow {
    margin-left: 113px;
    margin-right: 113px;
    max-width: 8px;
    max-height: 12px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.pointer-contact {
    opacity: 50%;
    font-style: italic;
}

/* BASIC */

.basic {
    display: flex;
}

.modal_form {
    background: #E5EAF8;
    max-width: 680px;
    max-height: 542px;
    width: 100%;
    height: 100%;
    padding: 42px 40px;
}

.modal {
    border: none;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 50px;
}

.contact-block {
    max-width: 290px;
    width: 100%;
}

.texts {
    margin-left: 120px;
}

.letter {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    size: 16px;
    max-width: 380px;
    width: 100%;
}

#name,
#phone,
#email {
    height: 50px;
}

.modal-middle {
    display: flex;
    border: none;
}

#phone,
#email {
    width: 290px;
}

.special {
    font-family: 'Montserrat', sans-serif;font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}











/* FOOTER */

footer {
    background-color:#434343;
    padding: 100px 110px;
    margin-top: 147px;

}

.footer-first {
    display: flex;
    justify-content: space-between;
}

.footer-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-right: 25px;
}

.link {
    margin-bottom: 15px;
}

.footer-title {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    color: #AAAAAA;
    margin: 0;
}

.line {
    margin-top: 23px;
    margin-bottom: 28px;
    max-width: 380px;
    width: 100%;
}

.footer-search {
    display: flex;
    max-width: 380px;
    width: 100%;
    max-height: 40px;
    height: 100%;
}

.footer-searching {
    background: #666666;
    max-width: 300px;
    width: 100%;
    padding: 9px 0 9px 15px;  
}

::placeholder {
    color: #EBEBEB;
    max-width: 41px;
    width: 100%;
    max-height: 22px;
    width: 100%; 
}

.social {
    display: flex;
    margin-top: 25px;
}

.footer-social {
    margin-right: 15px;
}

.footer-second {
    justify-content: space-between;
    display: flex;
}

.line-second {
    margin-top: 28px;
    margin-bottom: 23px;
}

.footer-rating {
    display: flex;
    align-items: center;
}

.star {
    margin-right: 3px;
}

.DL {
    left: -75px;
    position: relative;
}   
